<div class="sidebar">

  <div class="logo">
    <span>VAAD AI</span>
  </div>

  <a
    routerLink="/"
    routerLinkActive="active"
    class="menu-item">

    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>

  </a>

  <a routerLink="/buildings" class="menu-item">
    <mat-icon>apartment</mat-icon>
    <span>Buildings</span>
  </a>

  <a routerLink="/tenants" class="menu-item">
    <mat-icon>groups</mat-icon>
    <span>Tenants</span>
  </a>

  <a routerLink="/payments" class="menu-item">
    <mat-icon>payments</mat-icon>
    <span>Payments</span>
  </a>

  <a
  routerLink="/ai-chat"
  routerLinkActive="active"
  class="menu-item">

  <mat-icon>smart_toy</mat-icon>
  <span>AI Assistant</span>

</a>

</div>