/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;

  font-family: Roboto, sans-serif;

  background:
    linear-gradient(
      180deg,
      #f8fafc,
      #eef2ff
    );
}

* {
  box-sizing: border-box;
}